* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

header {
    text-align: center;
}
header > h1 {
    /* font-size: 1.25rem;
    font-weight: 500; */
    color: #F9F4DA;
}
 header > p {
    /* font-size: 0.875rem;
    max-width: 350px; */
    color: #8E8E8E;
}
section.game-status{
    background-color: #10A95B;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F9F4DA;
    border-radius: 5px;
    margin-block: 30px;
}

section.game-status > p {
    /* font-size: 1rem;
    font-weight: 500; */
    margin: 5px 0;
}
section.game-status > h2{
    /* font-size: 1.5rem;
    font-weight: 700; */
    margin: 5px 0;
}

.languages-container{
    display:flex;
    flex-wrap: wrap;
    gap:8px;
    max-width: 450px;
    justify-content: center;


}

.language-box{
 padding: 10px;
 border-radius: 5px;
font-size: 1.1rem;
}

.letter-box{
    
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #D9D9D9;
    margin: 0 5px;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #323232;
    
}


.word-container{
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap:2px;
    margin-bottom: 20px;
    
}


 .alphabet-container{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-width: 450px;

 }

 .alpha-letter{
    width: 40px;
    height: 40px;
    background-color: #404040;
     /* background-color: #FCBA29; */
    /* border: none; */
    border-radius: 5px;
    /* color: #D9D9D9; */
    color: #FCBA29; 
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
 }



button.new-game {
    background-color: #11B5E5;
    /* border: 1px solid #D7D7D7; */
    border-radius: 4px;
    width: 225px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin: 30px auto;
    cursor: pointer;
    font-size: 1.2rem;

}
.right{
    color:#10A95B
}
.wrong{
    color:#E74C3C;
}